# Ignore CMake buildfiles
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Ignore buildsystem files
Makefile
build.ninja
.ninja_*
.clangd/
compile_commands.json

# Ignore final executable
FaceStuff.exe
FaceStuff.pdb
*.dll
FaceStuff

